# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
raw_data/bio03_australia_2071-2100.tif
raw_data/bio07_australia_2071-2100.tif
raw_data/Unconfirmed 983514.crdownload
geodata/soil_world/clay_15-30cm_mean_30s.tif
geodata/soil_world/phh2o_15-30cm_mean_30s.tif
geodata/soil_world/soc_15-30cm_mean_30s.tif
raw_data/bio05_australia_2071-2100.tif
raw_data/bio11_australia_2071-2100.tif
raw_data/bio18_australia_2071-2100.tif
